body {
    margin: 0em;
    border: 0em;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --blue: rgb(0, 179, 255);
    --orange: rgb(255, 174, 0);
}

/* Startbox styling before start is clicked */

.startbox {
    background: linear-gradient(351deg, rgb(0, 26, 196) 0%, rgba(5,186,223,1) 100%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
}

.startbox button {
    padding: .5em 2em .5em 2em;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 1em;
    transition: all .2s ease-in-out;
}

.startbox button:hover {
    border-radius: 20px;
    background-color: var(--orange);
    color: white;
}

/* Quiz styling AFTER start button is clicked */

.quiz-wrapper {
    background: linear-gradient(351deg, rgb(0, 26, 196) 0%, rgba(5,186,223,1) 100%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
}

.quiz-wrapper button {
    padding: .5em 2em .5em 2em;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 1em;
    transition: all .2s ease-in-out;
    color: rgb(0, 74, 106);
}

#answerList {
    display: flex;
    flex-direction: column;
}

#answerList button:hover {
    border-radius: 15px;
    background-color: var(--orange);
    color: white;
    -webkit-box-shadow: 0px 3px 21px -4px rgba(0,0,0,0.74); 
    box-shadow: 0px 3px 21px -4px rgba(0,0,0,0.74);
}

#secondsLeft {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--orange);
    color: white;
    -webkit-box-shadow: 0px 3px 21px -4px rgba(0,0,0,0.74); 
    box-shadow: 0px 3px 21px -4px rgba(0,0,0,0.74);
}

.gameover-message {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    background: -webkit-linear-gradient(rgb(0, 26, 196), rgba(5,186,223,1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
